@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    color: white;
}

.logo-chars {
    display: flex;
    align-items: baseline;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.chars-O {
    position: relative;
    font-size: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.compass-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0);
    animation: rotateCompass 5s infinite ease-in-out;
}

.compass-icon {
    font-size: 1.2rem;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    transform: scale(0.8, 1.8);
}

.compass-dot {
    font-size: 2rem;
    color: #743794;
    position: absolute;
    transform: translate(0.025em, -0.31em);
}

.chars-rient {
    font-size: 4rem;
    color: white;
}

.chars-AI {
    font-size: 4rem;
    color: #00beb5;
}

@keyframes rotateCompass {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
}
